.get-in-touch{
    position: relative;
    margin-top: 150px;
    img{
        max-width: 350px; 
        position: absolute; 
        bottom: 0;
    }
    .content{
        padding-left: 300px;
    }
}