<div class="p-3">
  <div class="theme-container my-4">
    <div
      class="page-title text-center"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <h1>Privacy Policy for Mi Hogar En Atlanta – Mobile Communications</h1>
      <p>Last Updated: April 2025</p>
    </div>
    <div class="my-3">
      <mat-card class="p-5">
        <p>
          <b>Our Commitment to Privacy</b> At Mi Hogar En Atlanta, we value your
          privacy and are committed to protecting your personal information.
          This Privacy Policy explains how we collect, use, and safeguard your
          data when you interact with us via phone, SMS, or other electronic
          means. By providing your information and communicating with us, you
          consent to the practices described in this policy.
        </p>

        <p>
          <b>Information We Collect</b> We collect personal information to
          provide you with the best real estate services, including but not
          limited to:
        </p>
        <ul class="px-3 mb-2">
          <li>Name</li>
          <li>Phone number</li>
          <li>Email address</li>
          <li>Communication preferences</li>
          <li>
            Any additional details you choose to share related to real estate
            inquiries
          </li>
        </ul>
        <p>
          <b>How We Use Your Information</b> The information you provide is used
          to:
        </p>
        <ul class="px-3 mb-2">
          <li>Respond to your inquiries and provide real estate assistance.</li>
          <li>
            Send updates, offers, and relevant information via SMS, email, or
            phone calls
          </li>
          <li>Improve our services and customer experience.</li>
          <li>Comply with legal and regulatory requirements</li>
        </ul>

        <p>
          <b>SMS Communications</b> By opting into our SMS notifications, you
          agree to receive text messages regarding real estate updates,
          promotions, and special offers. Message frequency may vary. Standard
          messaging and data rates may apply based on your mobile carrier’s
          terms.
        </p>

        <p>
          <b>Opting Out</b> You can opt out of receiving SMS messages at any
          time by replying "STOP" to any message. After you send "STOP," you
          will receive a confirmation message, and no further messages will be
          sent. If you need assistance, reply "HELP" or contact us directly
        </p>

        <p>
          <b>Data Protection</b> We do not sell or share your personal
          information with third parties for marketing purposes. Your data is
          securely stored and used solely for real estate communication and
          business operations.
        </p>

        <p>
          <b> Changes to This Policy</b> We may update this Privacy Policy from
          time to time. Any changes will be posted on our website, and continued
          use of our services will indicate acceptance of the revised policy.
        </p>

        <p>
          <b>Contact Us</b> If you have any questions about this Privacy Policy
          or your personal data, please contact us at:
        </p>
        <p>
          <a class="primary-text" href="mailto:mihogarenatlanta@gmail.com"
            >mihogarenatlanta@gmail.com</a
          >
        </p>
        <p>
          Mi Hogar En Atlanta 6015 Atlantic Blvd, Suite D Norcross, GA 30071
        </p>
      </mat-card>
    </div>
  </div>
</div>
