<app-header-image [backgroundImage]="'assets/images/others/image3.jpg'" 
                  [bgImageAnimate]="false" 
                  [contentOffsetToTop]="true"                
                  [title]="'ABOUT.ABOUT_TITLE' | translate"
                  [desc]="'ABOUT.ABOUT_DESC' | translate">
</app-header-image>


<div class="theme-container">
    <mat-card class="main-content-header">
        
        <div class="section pt-2">
            <div class="px-3">
                <div class="theme-container">
                    <h1 class="section-title">{{ 'ABOUT.OUR_HISTORY' | translate }}</h1>

                    <p class="px-3" style="text-align: justify;">{{ 'ABOUT.HISTORY' | translate }}</p>

                    <p class="px-3" style="text-align: justify;">{{ 'ABOUT.HISTORY_2' | translate }}</p>

                    <p class="px-3" style="text-align: justify;">{{ 'ABOUT.HISTORY_3' | translate }}</p>

                    <p class="px-3" style="text-align: justify;">{{ 'ABOUT.HISTORY_4' | translate }}</p>

                    <p class="px-3" style="text-align: justify;">{{ 'ABOUT.HISTORY_5' | translate }}</p>

                    <p class="px-3" style="text-align: justify;">{{ 'ABOUT.HISTORY_6' | translate }}</p>

                    <p class="px-3" style="text-align: justify;">{{ 'ABOUT.HISTORY_7' | translate }}</p>

                    <ul style="margin-left: 50px; margin-right: 50px;">
                        <li class="px-3" style="text-align: justify;">{{ 'ABOUT.HISTORY_8' | translate }}</li>
                        <li class="px-3" style="text-align: justify;">{{ 'ABOUT.HISTORY_9' | translate }}</li>
                    </ul><br>

                    <p class="px-3" style="text-align: justify;">{{ 'ABOUT.HISTORY_10' | translate }}</p>

                    <ul style="margin-left: 50px; margin-right: 50px;">
                        <li class="px-3" style="text-align: justify;">{{ 'ABOUT.HISTORY_11' | translate }}</li>
                        <li class="px-3" style="text-align: justify;">{{ 'ABOUT.HISTORY_12' | translate }}</li>
                        <li class="px-3" style="text-align: justify;">{{ 'ABOUT.HISTORY_13' | translate }}</li>
                        <li class="px-3" style="text-align: justify;">{{ 'ABOUT.HISTORY_14' | translate }}</li>
                        <li class="px-3" style="text-align: justify;">{{ 'ABOUT.HISTORY_15' | translate }}</li>
                        <li class="px-3" style="text-align: justify;">{{ 'ABOUT.HISTORY_16' | translate }}</li>
                        <li class="px-3" style="text-align: justify;">{{ 'ABOUT.HISTORY_17' | translate }}</li>
                        <li class="px-3" style="text-align: justify;">{{ 'ABOUT.HISTORY_18' | translate }}</li>
                    </ul><br>

                    <p class="px-3" style="text-align: justify;">{{ 'ABOUT.BOOK' | translate }}<a href="https://www.amazon.com/limpiadora-vendedora-exitosa-casas-inspiraci%C3%B3n/dp/B09DMRFG24" target="_blank">link</a></p>

                    <div fxLayout="row wrap">

                        <div fxFlex="100" fxFlex.gt-sm="50" class="p-3"> 
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="mat-icon-xlg" color="primary">business</mat-icon>
                                <h2 class="capitalize fw-600 mx-2">{{ 'ABOUT.OUR_MISSION' | translate }}</h2>
                            </div>                            
                            <p class="mt-2">{{ 'ABOUT.MISSION' | translate }}</p>
                        </div>

                        <div fxFlex="100" fxFlex.gt-sm="50" class="p-3"> 
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="mat-icon-xlg" color="primary">list_alt</mat-icon>
                                <h2 class="capitalize fw-600 mx-2">{{ 'ABOUT.OUR_VISION' | translate }}</h2>
                            </div> 
                            <p class="mt-2">{{ 'ABOUT.VISION' | translate }}</p>
                        </div>

                    </div>
                    <div class="section testimonials">
                        <div class="px-3">
                            <div class="theme-container">
                    
                                <div class="testimonials-carousel"> 
                                    <div class="swiper-container" [swiper]="config"> 
                                        <div class="swiper-wrapper h-100">      
                                            <div *ngFor="let imageNosotro of imageNosotros" class="swiper-slide">
                                                <div class="content text-center">
                                                    <img [attr.data-src]="imageNosotro.image" class="swiper-lazy">
                                                    <div class="swiper-lazy-preloader"></div>
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="swiper-pagination"></div> 
                                    </div>
                                </div>
                                    
                            </div>
                        </div>   
                    </div>
                    
                </div>
            </div>   
        </div> 

    </mat-card> 
 
</div>

<!-- <app-mission></app-mission> -->

<!-- <app-our-services></app-our-services> -->

<!-- <app-testimonials></app-testimonials>   -->

<!-- <app-our-agents></app-our-agents> -->
      
<!-- <app-clients></app-clients> -->

<!-- <app-get-in-touch></app-get-in-touch> -->